 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" ui-sref="cards">Keynote</a>
           </div>

           <div class="collapse navbar-collapse" >
            <ul class="nav navbar-nav">
               <li><a ui-sref="admin">Admin</a></li>
               <!-- <li><a ui-sref="tweets-admin">Tweets</a></li> -->
               <!-- <li><a ui-sref="users">Users</a></li> -->

               
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <!-- <li class="active"><a ui-sref="admin">Admin</a></li> -->
              <li><login-buttons></login-buttons></li>
            </ul>
       </div>
    </div>
  </nav>

