<bsnxpnav></bsnxpnav>
<div class="row cbp-af-header" id="video-container-outer">
        <videoplayer></videoplayer>
       <!-- <div id="nxp-ftf-video-headline-text" ><img src="/images/NXP_logo_SOLID_WHITE.png"> FTF 2016</div> -->
</div>
 

<div class="container-wrapper">
<div id="slide-row" class="row" >

    <section class="col-sm-9">
        <!-- <div class="col-sm-6 animate-repeat slide"  ng-repeat="card in cardsList.cards | published:cardsList.videoTime | orderBy:'-time'"> -->
        <!-- <div class="col-sm-6 animate-repeat slide" ui-sref="cardDetails({ cardId: card._id })" ng-repeat="card in cardsList.cards | published:cardsList.videoTime | orderBy:'-time'"> -->
        <article class="col-sm-6 animate-repeat slide item-container" ng-repeat="card in cards  | orderBy:'-time'">             <div class="item" id="{{card._id}}" >
                <div class="cardContent" >
                    <!-- <div class="caption" ui-sref="cardDetails({ cardId: card._id })"> -->
                    <div class="caption" >
                        <div><span ng-bind-html="card.content | html"></span></div>
                        
                       <!--  <div class="title text-center">
                            public: {{card.public}}
                        </div>
                        
                        <div class="text-center">
                                sync time: {{card.time}}
                        </div> -->
                    </div>
                
                <footer class="item-footer">
                 <ul class="list-inline">
                   <li class="facebook"><a class="social-icon" social-facebook custom-url="{{adminCtrl.currentUrl}}/{{card._id}}"><facebook-icon></facebook-icon></a></li>
                    <li class="twitter"><a custom-url="{{currentUrl}}/{{card._id}}" class="social-icon" social-twitter status="#NXPFTF Check out what is happening at NXP FTF 2016 url: {{currentUrl}}/{{card._id}} {{card.content}}"  > <twitter-icon></twitter-icon></a> </li>
                  <li class="googleplus"><a class="social-icon" social-gplus custom-url="{{adminCtrl.currentUrl}}/{{card._id}}" ><googleplus-icon></googleplus-icon></a></li>
                  <li class="linkedin"><a class="social-icon" social-linkedin custom-url="{{currentUrl}}/{{card._id}}"><linkedin-icon></linkedin-icon></a></li>
                  <li class="email" target-blank><a class="social-icon" href="mailto:?subject=Check out what I found at NXP FTF 2016&body={{card.content}} {{currentUrl}}/{{card._id}}">
                    <email-icon></email-icon></a></li>
                 </ul>
               </footer>
            </div>

                
            </div>
        </article>


    </section>  <!-- <section class="col-sm-9"> -->

    <section class="col-sm-3">
        <!-- <p>VideoTime: {{videoTime}}</p> -->
      <div id="affixTweets"  >
        <div class="tweets" ng-controller="tweetsCtrl" >
            <h2>#NXPFTF</h2>
            <div class="tweets-container">
            <div class="tweet-row" ng-repeat="tweet in livetweets | orderBy:'-createdAt'" >
                  <span class="tweetItem" ng-bind-html="tweet.tweet | encodeTweet"></span>              
            </div>
            </div>
        </div>
      </div>

        <!-- Filler bottom -->
    <div id="stretch"></div>


    </section>
</div>
  </div>


<script>

var windowWidth = $(window).width();

$(window).resize(function(){
    windowWidth = $(window).width();
    console.log('WindowWidth2',windowWidth);
    if (windowWidth<768) {
      $('.affix').css('position','relative');
    } else
    {
      $('.affix').css('position','fixed');
    }
});

$(window).scroll(function(){
    var scrollPos = $(document).scrollTop();
    // var windowWidth = $(window).width();
    console.log('WindowWidth',windowWidth);
    if (scrollPos >= 445  ) { 
        // $('#video-container-outer').addClass('video-container-shrunk');
       $('.cbp-af-header').addClass("cbp-af-header-shrink");
        $('#slide-row').css('margin-top','530px')
    } else {
        $('.cbp-af-header').removeClass("cbp-af-header-shrink");
        // $('#video-container-outer').removeClass('video-container-shrunk');
        $('#slide-row').css('margin-top','20px')
    }
});

$('#affixTweets').affix({ offset: {top: 450} })

$.getScript("http://www.nxp.com/files/header/newco-nav.js", function(){  
    if (typeof NXP.top_nav != 'undefined') {
          $('.navbar-collapse').html(NXP.top_nav);
          $('ul.nav.navbar-nav').append('<li class="dropdown"><a href="//www.nxp.com/search" class="dropdown-toggle">SEARCH</a></li><li class="dropdown"><a href="//www.nxp.com/ruhp" class="dropdown-toggle">MY ACCOUNT</a></li>')
    } // load top nav elements
})
</script>
