<bsnxpnav>
</bsnxpnav>
<div class="row" id="video-container-outer">
    <div class="col-sm-12"  >
        <videoplayer>        </videoplayer>
       
    </div>
</div>
<div id="fb-root"></div>

 
<script>
$(window).scroll(function(){
    var scrollPos = $(document).scrollTop();
    // console.log(scrollPos);
    if (scrollPos >= 200 ) { 
        $('#video-container-outer').addClass('video-container-shrunk');
        $('#slide-row').css('margin-top','340px')
    } else {
        $('#video-container-outer').removeClass('video-container-shrunk');
        $('#slide-row').css('margin-top','20px')
    }
});

</script>

<!-- <input type="number" ng-model="timeFilter" placeholder="Time" ng-change="updateTime()"/> -->

<div id="slide-row" class="row" >

    <div class="col-sm-9">
        <!-- <div class="col-sm-6 animate-repeat slide"  ng-repeat="card in cardsList.cards | published:cardsList.videoTime | orderBy:'-time'"> -->
        <!-- <div class="col-sm-6 animate-repeat slide" ui-sref="cardDetails({ cardId: card._id })" ng-repeat="card in cardsList.cards | published:cardsList.videoTime | orderBy:'-time'"> -->
        <div class="col-sm-6 animate-repeat slide" ng-repeat="card in cardsList.cards | published:cardsList.videoTime | orderBy:'-time'">
            <div class="item" id="{{card._id}}" >
                <div class="thumbnail" >
                    <h2>
                        {{card.content}}
                    </h2>
                    <div class="caption">
                        <div class="title text-center">
                            public: {{card.public}}
                        </div>
                        
                            <div class="text-center">
                                sync time: {{card.time}}
                            </div>
                        
                        <ul >
                         <li class="facebook"><a social-facebook custom-url="http://www.nxp.com/{{card._id}}"><span href="" class="icon-facebook3">Facebook</span></a></li>
                         <li class="twitter"><a social-twitter status="#NXPFTF Check out what is happening at NXP FTF 2016 //localhost:3000/{{card._id}} {{card.content}}" custom-url="//www.nxp.com/{{card._id}}"><span class="icon-twitter">Twitter</span></a></li>
                          <!-- <li class="twitter"><a social-twitter status="#NXPFTF {{card.info}} {{card.content | strippedString}}" custom-url="{{card.info}}"><span class="icon-twitter"></span></a></li> -->
                         <li class="googleplus"><a social-gplus custom-url="http://www.nxp.com/{{card._id}}" ><span class="icon-googleplus2">Google+</span></a></li>
                         <li class="linkedin"><a social-linkedin custom-url="http://www.nxp.com/{{card._id}}"><span class="icon-linkedin">LinkIn</span></a></li>
                         <!-- <li class="email" target-blank><a href="mailto:?subject=Check out what I found at NXP FTF 2016&body={{card.content}}%0D%0A {{card.name | strippedString}}"><span -->
                         <li class="email" target-blank><a href="mailto:?subject=Check out what I found at NXP FTF 2016&body={{card.content}}%0D%0A http://www.nxp.com/{{card._id}}"><span class="icon-envelop2">Email</span></a></li>
                         <!-- <li class="timestamp"><span>{{card.timestamp |date: 'shortTime'}}</span></li> -->
                      </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <p>VideoTime: {{cardsList.videoTime}}</p>
        <h1>
            Tweets
        </h1>
        <div class="tweets">
            <h3>
                NXP Twitter
            </h3>
            <div class="tweet-row">
                <div class="tweet">
                    Tweet
                </div>
            </div>
            <div class="tweet-row">
                <div class="tweet">
                    Tweet
                </div>
            </div>
            <div class="tweet-row">
                <div class="tweet">
                    Tweet
                </div>
            </div>
        </div>
    </div>
</div>




