<bstoolbar></bstoolbar>

<div class="modal fade" id="card_add_form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
        </div>
      </div>
      <div class="modal-body">       
        <form class="js-add-slide">
          <div class="form-group">
            <label for="card_title">Title:</label>
            <input type="text" class="form-control" id="card_title" name="card_title"/>
        </div>
        <div class="form-group">
         <label for="card_text">Content:</label>
          <textarea class="form-control" id="card_text" placeholder="" name="card_text"></textarea>
        </div>
         <div class="form-group">
         <label for="card_time">Time to display:</label>
          <input type="number" class="form-control" id="card_time" placeholder="" name="card_time" />
        </div>
          <button class="btn btn-success">save</button>
        </form> 
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">cancel</button>
      </div>  
      </div>
    </div>
  </div>


  <div class="row" >


    <div class="col-xs-6 publish-list">
        <div class="items"  ng-repeat="card in cards">
            <div class="item" id="{{card._id}}" >
                <div class="thumbnail" >
                    <h2>
                        {{card.name}}
                    </h2>
                    <div class="caption">
                        <div class="title text-center">
                            {{card.name}}
                        </div>
                        <!--
                            <div class="text-center">
                                {{card.time}}
                            </div>
                        -->

                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="col-xs-6 preview-list">
        <div class="items"  ng-repeat="card in cards">
            <div class="item" id="{{card._id}}" >
                <div class="thumbnail" >
                    <h2>
                        {{card.name}}
                    </h2>
                    <div class="caption">
                        <div class="title text-center">
                            {{card.name}}
                        </div>
                        <!--
                            <div class="text-center">
                                {{card.time}}
                            </div>
                        -->
                         <button ng-click="remove(card)">&times;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

<!-- <div class="cards-list" layout="row">
 
  <div layout="column">
    <h1>Cards</h1>
    <form class="md-whiteframe-z1" ng-submit="save()" name="form" novalidate layout-padding="">
      <p>Add a card</p>
      <md-input-container>
        <label>Name</label>
        <input ng-model="newCard.name" placeholder="Name">
      </md-input-container>
      <input class="md-button" type="submit" value="Add">
    </form>
    <div layout="row" layout-padding="">
      <md-input-container flex="65" aria-label="Search">
        <label>Search</label>
        <input type="Search" ng-model="search" placeholder="Search" aria-label="Search">
      </md-input-container>
      <md-select ng-model="orderProperty" flex="35" aria-label="Order">
        <md-option value="1">Ascending</md-option>
        <md-option value="-1">Descending</md-option>
      </md-select>
    </div>

    <ul>
      <li dir-paginate="card in cards | itemsPerPage: perPage" total-items="cardsCount" current-page='page'>
        <p><a href="/cards/{{card._id}}">{{ card.name }}</a> <button ng-click="remove(card)">&times;</button></p>
      </li>
    </ul>
   
   
  </div>
  
</div> -->
