<bsnxpnav></bsnxpnav>
<div class="row cbp-af-header" id="video-container-outer">
<div class="videoplayer">
    <!-- data-video-id="ref:FTF16"   data-video-id="ref:RF-SAGE-VIDEO"   -->
<div id="video-container" class="outer-container text-center">
  <video id="fslPlayer" 
    data-video-id="ref:FTF16" 
    data-account="4089003392001" 
    class="video-js"
    data-player="SycMTy4e" 
    data-embed="default"
    controls preload="auto" autoplay width="100%" height="100%"
    poster="http://cache.nxp.com/videos/poster/NXP-FTF-2016-PROMO.jpg"
    >
    <p>Your user agent does not support the HTML5 Video element.</p>
  </video>  
  
  <div id="nxp-ftf-video-headline-text" ><img src="//cache.nxp.com/files/test/twitter/NXP-FTF-LOGO.png"></div>
</div>

</div>
        <!-- <videoplayer></videoplayer> -->
      
</div>

 <div id="videomodal" class="modal fade" tabindex="-1" role="dialog"  >
  <div class="modal-dialog-video">
  <!-- <div class="modal-dialog"> -->
    <div class="modal-content">
     <div class="modal-body dtmFTFDiv" data-dtmsection="Top Link Pop-up Window"> 
         <div ng-bind-html="finalmodal.content | html" class="centerVideoModalContent"></div>
      </div>
      <button type="button" id="closefinalvideomodal" class="btn btn-md pull-right" data-dismiss="modal" >Close</button>
    </div>
  </div>
</div>

<div class="container-wrapper">
<div id="slide-row" class="row" >
    <section class="col-md-9">
       <section class="row">
        <article class="col-md-6 animate-repeat slide item-container" ng-repeat="card in cards  | orderBy:'-timestamp' | filter:{public:true}">             
            <div class="item dtmFTFDiv" data-dtmSection="Content Card" id="{{card._id}}"  cardid="{{card._id}}" >
                <div class="cardContent" >
                    <!-- <div class="caption" ui-sref="cardDetails({ cardId: card._id })"> -->
                    <div class="caption" >
                        <div><span ng-bind-html="card.content | html"></span></div>
                        
                       
                    </div>
                
                <!-- <div class="item-footer"  ng-show="{{card.pageurl}}" > -->
                <div class="item-footer"  ng-show="card.pageurl.length>0" >
                 <ul class="list-inline">
                   <li class="facebook"><a class="social-icon" social-facebook custom-url="{{currentUrl}}/{{card._id}}"><facebook-icon></facebook-icon></a></li>

                   
                    <li class="twitter"><a custom-url="{{currentUrl}}/{{card._id}}" class="social-icon" social-twitter status="The world's cities are getting smarter and more connected. Find out how. Watch streaming #NXPFTF keynote now {{currentUrl}}/{{card._id}} {{card.title}} {{card.description}}"  > <twitter-icon></twitter-icon></a> </li>
                  <li class="googleplus"><a class="social-icon" social-gplus custom-url="{{currentUrl}}/{{card._id}}" ><googleplus-icon></googleplus-icon></a></li>
                  <li class="linkedin"><a class="social-icon" social-linkedin custom-url="{{currentUrl}}/{{card._id}}"><linkedin-icon></linkedin-icon></a></li>
                  <li  class="email" ><a id="email" class="social-icon"  data-text="The world's cities are getting smarter and more connected. Find out how. Watch the NXP FTF keynote &body=The world's cities are getting smarter and more connected. Find out how. Watch the NXP FTF keynote. %0A%0A {{card.title}} {{card.description}}%0A%0A{{currentUrl}}/{{card._id}}">
                    <email-icon></email-icon></a></li>
                 </ul>
               </div>
            </div>

                
            </div>
        </article>
      </section>
    </section>  <!-- <section class="col-md-9"> -->

    <section class="col-md-3">
        <!-- <p>VideoTime: {{videoTime}}</p> -->
      <div id="affixTweets"  >
        <div class="tweets dtmFTFDiv" data-dtmSection="Twitter Feed" ng-controller="tweetsCtrl" >
            <h2>#NXPFTF</h2>
            <div class="tweets-container">
            <div class="tweet-row" ng-repeat="tweet in livetweets | orderBy:'-createdAt'" >
                  <span class="tweetItem" ng-bind-html="tweet.tweet | encodeTweet"></span>              
            </div>
            </div>
        </div>
      </div>

        <!-- Filler bottom -->
    <div id="stretch"></div>


    </section>
</div>
  </div>




<script>

var windowWidth = $(window).width();

$(window).resize(function(){
    var windowWidth = $(window).width();
    var scrollPos = $(document).scrollTop();
    // console.log('WindowWidth2',windowWidth);
    // console.log ('scroll pos2',scrollPos);
    if (windowWidth<991) {
    // if (windowWidth<768) {
      $('#affixTweets').removeClass('affix');
      // $('#video-container').css({'height':'100px'});
    } else
    {
      if (scrollPos >=330){
        $('#affixTweets').addClass('affix');
        $('#video-container').css('height','250px');
      }  else {
        $('#affixTweets').removeClass('affix');
        $('#video-container').css('height','500px');
      }
    }
});

$(window).scroll(function(){
    var scrollPos = $(document).scrollTop();
    var windowWidth = $(window).width();
    // console.log('WindowWidth',windowWidth);
    // console.log ('scrollPos',scrollPos)
    if (scrollPos >= 330  ) { 
      if (windowWidth>992) { 
      // if (windowWidth>768) { 
        $('#affixTweets').addClass('affix'); 
        $('#video-container').css({'height':'100px'});
      } else {
        // $('#video-container').css({'height':'100px', 'width':'100px', 'margin':'0px'});

      }
        // console.log ('scrollPos is >= 330')
        // $('#video-container-outer').addClass('video-container-shrunk');
      // $('#video-container').css({'height':'100px'});
      $('.cbp-af-header').addClass("cbp-af-header-shrink");
      $('#slide-row').css('margin-top','510px');
      // $('.cbp-af-header.cbp-af-header-shrink #fslPlayer').css({'height':'100px!important','width':'100px!important'})
      
    } else {
      $('#affixTweets').removeClass('affix');

        // console.log ('scrollPos is <= 330')
      if (windowWidth>992) { 
      // if (windowWidth>768) { 
        $('#video-container').css('height','500px');
      } else {
        $('#video-container').css('height','250px');
      }
      $('.cbp-af-header').removeClass("cbp-af-header-shrink");
      // $('#video-container-outer').removeClass('video-container-shrunk');
      $('#slide-row').css('margin-top','20px');
    }
});

// $('#affixTweets').affix({ offset: {top: 400} })

$.getScript("http://style.nxp.com/files/header/newco-nav.js", function(){  
    if (typeof NXP.top_nav != 'undefined') {
          $('.navbar-collapse').html(NXP.top_nav);
          $('ul.nav.navbar-nav').append('<li class="dropdown dtmMegaMenu" data-dtmname="MYACCOUNT"><a href="//www.nxp.com/ruhp/myAccount.html" class="dropdown-toggle" target="_blank">MY ACCOUNT</a></li><li class="dropdown dtmMegaMenu" data-dtmname="SEARCH"><a href="//www.nxp.com/search" class="dropdown-toggle" target="_blank" >SEARCH</a></li>')
    } // load top nav elements
    $('#header .dropdown-menu a').attr('target', '_blank');
})
</script>


<script>

  

  jQuery(document).ready(function($) {
    

    $.getScript('http://style.nxp.com/files/brightcove/ftf16_player.min.js')
      .done(function(script,textStatus){
        var myPlayer;
        videojs('fslPlayer').ready(function(){
            myPlayer = this;
            console.log ('Videojs muyPlayer',myPlayer);
            myPlayer.errors({
              "errors" : {
              "4": {
                "headline": "This is an NXP custom error headline",
                "type" : "NXP_CUSTOM_ERR_4",
                "message": "Howdy folks,  how's it going so far?"
                }
            }
          })
       });


        
        console.log ('loaded ftf16_player');
        // # Show poster at the end of the video
        $('video').on('error',function(e){
          console.log ('Video error',e);
          myPlayer.error({code:"4"});
        });
        $('video').on('networkState',function(e){
          console.log ('Video network state',e)
          myPlayer.error({code:"4"});
        });



        $('video').on('ended',function(){
          $('video')[0].autoplay=false
          // $('video')[0].attr('poster','//image.nxp.com/files/test/twitter/NXP-FTF-Takeover-Video-Graphics_Thanks_o1v1.jpg')
          $('video')[0].load();
          
          //http://image.nxp.com/files/test/twitter/NXP-FTF-Takeover-Video-Graphics_Thanks_o1v1.jpg
          console.log ('VIDEO HAS ENDED')
          setTimeout(function(){
            $('#fslPlayer').fadeOut('slow', function(){
              $(this).html('<img src="http://image.nxp.com/files/test/twitter/NXP-FTF-Takeover-Video-Graphics_Thanks_o1v1.jpg" class="img-responsive" style="margin-top:4%">')
            }).fadeIn('slow');
            $('#videomodal').modal('show');
            setTimeout(function(){ 
                top.location.href='http://www.nxp.com'
              },60000*5)
            console.log ('Page will refresh in 5 minutes')
          },10000);
          $('#closefinalvideomodal').click(function(e){
              e.preventDefault();
            // console.log ('You clicked on me!',$(this).attr('href'))
              top.location.href='http://www.nxp.com'
          });
          // $('#videomodal a').click(function(e){
          //   e.preventDefault();
          //   // console.log ('You clicked on me!',$(this).attr('href'))
          //   window.open($(this).attr('href'));
          // })
        });
      });

    $.getScript('http://players.brightcove.net/videojs-social/dist/videojs-social.min.js')
      .done(function(script,textStatus){
        console.log ('loaded videojs-social.min.js');
      });
    $.getScript('http://style.nxp.com/files/js/elqNow/elqwebanalytics.js')
      .done(function(script,textStatus){
        console.log ('loaded elqwebanalytics');
      });
    $.getScript('http://style.nxp.com/files/abstract/misc/blueconic.js')
      .done(function(script,textStatus){
        console.log ('loaded blueconic');
      });
    $.getScript('http://style.nxp.com/files/brightcove/analytics/src/analytics.custom.mapping.ftf16.js')
      .done(function(script,textStatus){
        console.log ('loaded custom.mapping.ftf16');
      });
    // if (typeof _satellite !== "undefined") { _satellite.pageBottom(); }


    $('.container-wrapper').delegate('a','click',function(e){
        if ( $(this).is('#email') != true ) { 
          $(this).attr('target', '_blank');
        } else {
          e.preventDefault();
          t = $(this).attr('data-text')
          window.location.href="mailto:?subject="+t
        }
      });

   });

</script>

