<div class="videoplayer">

<div id="video-container" class="outer-container text-center">
  <video id="fslPlayer" 
    data-video-id="ref:RF-SAGE-VIDEO" 
    data-account="4089003392001" 
    class="video-js"
    data-player="SycMTy4e" 
    data-embed="default"
    controls preload="auto" autoplay width="100%" height="100%"
    muted
    poster="/images/video-poster.png"
    >
    <p>Your user agent does not support the HTML5 Video element.</p>
  </video>  
  
  <div id="nxp-ftf-video-headline-text" ><img src="/images/NXP-FTF-LOGO.png"></div>
</div>

</div>
