<update-title title="{{cardOne.content}}"></update-title>
<update-meta property="og:title" content="{{cardOne.content}}"></update-meta>
<update-meta property="og:url" content="http://www.nxp.com/{{cardOne._id}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>
<update-meta property="og:description" content="{{cardOne.content}}"></update-meta>
<update-meta property="og:image" content="{{cardOne.time}}"></update-meta>
<update-meta name="description" content="{{cardOne.content}}."></update-meta>


  <div ng-if="cardOne">Card Details for {{cardOne._id}} Content is: <span ng-bind-html="cardOne.content | html"></span></div>
  
  <div ng-controller="CardDetailController">  
    <div class="col-sm-6" ng-repeat="card in data" >
      <div class="item" id="{{card._id}}" ><span ng-bind-html="card.content | html"></span> </div>
    </div>
  </div>

  <span ng-click="open(cardOne)" ng-controller="ModalDemoCtrl" id="openModal"></button>
  