<bsnxpnav>
</bsnxpnav>
<div class="row">
    <div class="col-sm-12" style="background-color:black;">
        <videoplayer>
        </videoplayer>
        <!--
            <div class="col-sm-6 card" ng-repeat="card in cards" >
                {{ card.name }}
            </div>
        -->
    </div>
</div>
<div class="row">
    <div class="col-sm-9">
        <div class="items"  ng-repeat="card in cards">
            <div class="item" id="{{card._id}}" >
                <div class="thumbnail" >
                    <h2>
                        {{card.name}}
                    </h2>
                    <div class="caption">
                        <div class="title text-center">
                            {{card.name}}
                        </div>
                        <!--
                            <div class="text-center">
                                {{card.time}}
                            </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <h1>
            Tweets
        </h1>
        <div class="tweets">
            <h3>
                NXP Twitter
            </h3>
            <div class="tweet-row">
                <div class="tweet">
                    Tweet
                </div>
            </div>
            <div class="tweet-row">
                <div class="tweet">
                    Tweet
                </div>
            </div>
            <div class="tweet-row">
                <div class="tweet">
                    Tweet
                </div>
            </div>
        </div>
    </div>
</div>
