<bstoolbar></bstoolbar>

<div class="alert alert-info" ng-hide="adminCtrl.isLoggedIn">
  Please log in!
</div>

<div class="alert alert-info" ng-show="!adminCtrl.isCardAdmin && adminCtrl.isLoggedIn" >Not authorized for this page</div>

<div  ng-show="adminCtrl.isCardAdmin" >
  <modal title="Add a new card" visible="adminCtrl.showAddNewCardModal" data-backdrop="static">
    <form  role="form">
      <!-- <h4>Create a new card</h4> -->
       <div class="form-group">
        <label>Event: </label>  
           <select name="mySelect" id="mySelect"
                 ng-options="option.name for option in adminCtrl.availableOptions track by option.id"
                 ng-model="adminCtrl.selectedOption"></select>
        </div>
       <div class="form-group">
        <label>Title: </label>  
        <input ng-model="adminCtrl.newCard.title"  /> <br>
        <label>Description:</label>
        <input ng-model="adminCtrl.newCard.description" /> <br>
        <label>Image url:</label>
        <input ng-model="adminCtrl.newCard.image"/> <br>

        <!-- <wysiwyg textarea-id="content" textarea-class="form-control content-modal"  textarea-height="230px" textarea-width="350px" textarea-name="textareaContent" textarea-required enable-bootstrap-title="true" textarea-menu="adminCtrl.customMenu" ng-model="adminCtrl.newCard.content"></wysiwyg> -->

         <!-- <div text-angular ng-model="adminCtrl.newCard.content" class="content-modal" ta-toolbar="[['h1','h2','h3'],['bold','italics']]"></div> -->
         <textarea froala ng-model="adminCtrl.newCard.content"></textarea>

        </div>
       <!--  <div class="form-group">
        <label>Order: </label>  <input  type="number" ng-model="addNewCardModal.newCard.order" /> 
        </div> -->

            <button  class="btn btn-sm btn-warning" ng-click="adminCtrl.toggleAddNewCardModal()">
              Close
            </button>
            <button  class="btn btn-sm btn-primary" ng-click="adminCtrl.processAddNewCard()" style="margin-right:20px;">
              Save
            </button>
      </form>
  </modal>

  <modal title="Edit a card" visible="adminCtrl.showEditCardModal" data-backdrop="static">
  <form role="form">
    <!-- <h4>Edit Card</h4> -->
      <div class="form-horizontal">
        <div class="form-group">
                <label class="col-sm-2 control-label">Title: </label>  
                <div class="col-sm-10"><input  class="form-control" ng-model="adminCtrl.newCard.title"  /> </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Description:</label>
          <div class="col-sm-10"><input class="form-control" ng-model="adminCtrl.newCard.description"  /> </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Image url:</label>
          <div class="col-sm-10"><input class="form-control"  ng-model="adminCtrl.newCard.image" /></div>
        </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-6">
         <!--   <wysiwyg textarea-id="content" textarea-class="form-control content-modal"  textarea-height="280px" textarea-width="350px" textarea-name="textareaQuestion" textarea-required enable-bootstrap-title="true" textarea-menu="adminCtrl.customMenu" ng-model="adminCtrl.newCard.content"></wysiwyg> -->

         <!-- <div text-angular ng-model="adminCtrl.newCard.content" class="content-modal" ta-toolbar="[['h1','p'],['bold','italics', 'underline'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight'],['html','insertImage','insertLink'],['undo','redo','clear', 'class-a']]"></div> -->

         <textarea froala="adminCtrl.froalaOptions" ng-model="adminCtrl.newCard.content" froala-event-focus="editorOnFocus"></textarea>

      </div>
      <div class="col-sm-6">
        <ul class="list-group" style="height:250px; overflow:auto;">
                  <li class="list-group-item image-list-group" ng-repeat="image in adminCtrl.images" id="{{image.id}}">
                    <div class="row">
                      <div class="col-xs-12">{{image.imageURL}} </div>
                      <div class="col-sm-7"><img class="imgItem" src="{{image.imageURL}}"></div>
                      <div class="col-xs-5">
                        <button ngclipboard data-clipboard-text="{{image.imageURL}}" class="btn btn-xs btn-primary" toggle-placement="top"  tooltip-popup-close-delay="300" tooltip="Copy to clipboard" data-placement="top" title="Copy Image URL">Copy</button>
                        <!-- <button  ng-click="adminCtrl.copyImage(image)" class="btn btn-xs btn-primary">Copy</button> -->
                        <!-- <button ng-click="adminCtrl.removeImage(image)" class="btn btn-xs btn-warning">Delete</button> -->
                      </div>
                    </div>
                  </li>
                  </ul>
      </div>
      </div>

        <button  class="btn btn-sm btn-warning" ng-click="adminCtrl.closeEditCardModal()">
          Close
        </button>
        <button  class="btn btn-sm btn-primary" ng-click="adminCtrl.updateCard()" style="margin-right:20px;">
          Save
        </button>
  </form>

  </modal>

  <modal title="Edit html" visible="adminCtrl.showHTMLCardModal" data-backdrop="static">
    <form role=form>
          <div class="form-group">
              <label>Title: </label>  
              <input ng-model="adminCtrl.newCard.title"  /> <br>
              <label>Description:</label>
              <input ng-model="adminCtrl.newCard.description" /> <br>
              <label>Image url:</label>
              <input ng-model="adminCtrl.newCard.image"/>  <br>

              <textarea class="showHTML-modal" id="edit" ng-model="adminCtrl.newCard.content"> </textarea> 

          </div>
       

          <button  class="btn btn-sm btn-warning" ng-click="adminCtrl.closeHTMLCardModal()">
            Close
          </button>
          <button  class="btn btn-sm btn-primary" ng-click="adminCtrl.saveHTMLCardModal()" style="margin-right:20px;">
            Save
          </button>
    </form>

  </modal>



  <div class="container">
      <div class="row">
        <div class="col-xs-5">
          <h3>Published Cards <span class="small">(descending order)</span></h3>
            <div  ng-repeat="card in adminCtrl.cards | orderBy:'-order' | filter:{public:true}" class="item-container"> 
                <div class="item" id="{{card._id}}" >
                    <div class="cardContent" >
                        <div class="caption" >
                            <div><span ng-bind-html="card.content | html"></span></div>
                        </div>
                    
                       <footer class="item-footer">
                         <ul class="list-inline">
                           <li class="facebook"><a class="social-icon" social-facebook custom-url="{{adminCtrl.currentUrl}}/{{card._id}}"><facebook-icon></facebook-icon></a></li>
                            <li class="twitter"><a custom-url="{{adminCtrl.currentUrl}}/{{card._id}}" class="social-icon" social-twitter status="#NXPFTF Check out what is happening at NXP FTF 2016 url: {{adminCtrl.currentUrl}}/{{card._id}} {{card.content}}"  > <twitter-icon></twitter-icon></a> </li>
                          <li class="googleplus"><a class="social-icon" social-gplus custom-url="{{adminCtrl.currentUrl}}/{{card._id}}" ><googleplus-icon></googleplus-icon></a></li>
                          <li class="linkedin"><a class="social-icon" social-linkedin custom-url="{{adminCtrl.currentUrl}}/{{card._id}}"><linkedin-icon></linkedin-icon></a></li>
                          <li class="email" target-blank><a class="social-icon" href="mailto:?subject=Check out what I found at NXP FTF 2016&body={{card.content}} {{adminCtrl.currentUrl}}/{{card._id}}">
                            <email-icon></email-icon></a></li>
                            <li class="small"><em>Card order: {{card.order}}</em></li>
                         </ul>
                       </footer>
                </div>

                </div>
                <button class="btn btn-xs btn-info" ng-show="adminCtrl.isLoggedIn"  ng-click="adminCtrl.toggleEditCardModal(card)"><i class="fa fa-pencil"></i></button>
                 <button class="btn btn-xs" ng-show="adminCtrl.isLoggedIn"  ng-click="adminCtrl.toggleHTMLCardModal(card)"><i class="fa fa-code"></i></button>
                <button class="btn btn-xs btn-warning" ng-show="adminCtrl.isLoggedIn"  ng-click="adminCtrl.unpublishCard(card)">Unpublish</button>

            </div>




        </div>
        <div class="col-xs-5">
          <h3>Unpublished Cards <span class="small">(ascending order)</span></h3>
            <div  ng-repeat="card in adminCtrl.cards | orderBy:'order' | filter:{public:false}" class="item-container">
                <div class="item" id="{{card._id}}" data-public="{{card.public}}" data-event="{{card.event.name}}" data-sort="{{card.order}}">
                    <div class="cardContent" >
                        <div class="caption" >
                       <div><span ng-bind-html="card.content | html"></span></div>
                        </div>
                    
                       <footer class="item-footer">
                         <ul class="list-inline">
                           <li class="facebook"><a class="social-icon" social-facebook custom-url="{{adminCtrl.currentUrl}}/{{card._id}}"><facebook-icon></facebook-icon></a></li>
                            <li class="twitter"><a custom-url="{{adminCtrl.currentUrl}}/{{card._id}}" class="social-icon" social-twitter status="#NXPFTF Check out what is happening at NXP FTF 2016 url: {{adminCtrl.currentUrl}}/{{card._id}} {{card.content}}"  > <twitter-icon></twitter-icon></a> </li>
                          <li class="googleplus"><a class="social-icon" social-gplus custom-url="{{adminCtrl.currentUrl}}/{{card._id}}" ><googleplus-icon></googleplus-icon></a></li>
                          <li class="linkedin"><a class="social-icon" social-linkedin custom-url="{{adminCtrl.currentUrl}}/{{card._id}}"><linkedin-icon></linkedin-icon></a></li>
                          <li class="email" target-blank><a class="social-icon" href="mailto:?subject=Check out what I found at NXP FTF 2016&body={{card.content}} {{adminCtrl.currentUrl}}/{{card._id}}">
                            <email-icon></email-icon></a></li>
                            <li class="small"><em>Card order: {{card.order}}</em></li>
                         </ul>
                         
                       </footer>
                </div>
                </div>
            <button class="btn btn-xs btn-danger" ng-show="adminCtrl.isLoggedIn"  ng-click="adminCtrl.removeCard(card)"><span class="fa fa-trash"></span></button>
            <button class="btn btn-xs btn-info" ng-show="adminCtrl.isLoggedIn"  ng-click="adminCtrl.toggleEditCardModal(card)"><i class="fa fa-pencil"></i></button>
             <button class="btn btn-xs" ng-show="adminCtrl.isLoggedIn"  ng-click="adminCtrl.toggleHTMLCardModal(card)"><i class="fa fa-code"></i></button>
              <button class="btn btn-xs btn-warning" ng-disabled="card.countdown" ng-click="adminCtrl.setPublic(card)" ng-show="!card.public" data-toggle="confirmation">Publish {{card.countdown}}</button>
              &nbsp; &nbsp; 
             
              <button class="btn btn-xs btn-info"  ng-click="adminCtrl.addCardAbove(card)">Add Card <span class="arrow-down"></span></button>
               <button class="btn btn-xs btn-info"  ng-click="adminCtrl.addCardBelow(card)">Add Card <span class="arrow-up"></span></button>
            </div>



        </div>
        <div class="col-xs-2">
          <div id="admin-static">
            <h3>Admin Area</h3>
            <h4>Event:</h4>
             <select class="form-control" name="mySelect" id="mySelect"
                 ng-options="option.name for option in adminCtrl.availableOptions track by option.id"
                 ng-model="adminCtrl.selectedOption"></select>
            <br>
              <div id="admin-video-container">
                <videoplayer></videoplayer>
              </div>
            <!-- <button class="btn btn-primary" style="margin-top:8px;"  ng-click="adminCtrl.openAddNewCardModal()">Add new card</button> -->
               <button ng-click="adminCtrl.toggleAddNewCardModal()" class="btn btn-default btn-primary">Add new card</button>

              <section>
              <div class="form-group">
              <label for="imageURLInput"></label>
                <input class="form-control" type="text" id="imageURLInput" style="widtH:300px;" ng-model="image">
                <button class="btn btn-md btn-primary" type="submit" ng-click="adminCtrl.addImage(image)">Add Image URL</button>
              </div>
                <h3>Images</h3>
              <ul class="list-group">
                        <li class="list-group-item image-list-group" ng-repeat="image in adminCtrl.images" id="{{image.id}}">
                          <div class="row">
                            <div class="col-xs-12">{{image.imageURL}} </div>
                            <div class="col-sm-7"><img class="imgItem" src="{{image.imageURL}}"></div>
                            <div class="col-xs-5">
                              <button ngclipboard data-clipboard-text="{{image.imageURL}}" class="btn btn-xs btn-primary" toggle-placement="top"  tooltip-popup-close-delay="300" tooltip="Copy to clipboard" data-placement="top" title="Copy Image URL">Copy</button>
                              <!-- <button  ng-click="adminCtrl.copyImage(image)" class="btn btn-xs btn-primary">Copy</button> -->
                              <button ng-click="adminCtrl.removeImage(image)" class="btn btn-xs btn-warning">Delete</button>
                            </div>
                          </div>
                        </li>
                        </ul>
              </section>
          </div>
        </div>

      </div>
  </div>



</div>

