<bstoolbar></bstoolbar>

<div class="alert alert-info" ng-hide="adminCtrl.isLoggedIn">
  Please log in!
</div>

<div  ng-show="adminCtrl.isLoggedIn" >
<h2>Admin page</h2>
  <h4> Cards:  </h4>
    <button class="btn btn-primary" style="margin-top:8px;"  ng-click="adminCtrl.openAddNewCardModal()">Add new card</button>

  <md-list>
    <md-list-item class="md-1-line" ng-repeat="card in adminCtrl.cards">
      <div class="md-list-item-text">
        content: {{card.content}}  |  time: {{card.time}} | public: {{card.public}} | {{card.owner}}

      <md-button class="md-raised" ng-show="adminCtrl.isLoggedIn"  ng-click="adminCtrl.removeCard(card)">Remove</md-button>
      <!-- <button ng-show="adminCtrl.isLoggedIn"  ui-sref="cardEdit({cardId: card._id})">Edit</button> -->
      <md-button class="md-raised" ng-show="adminCtrl.isLoggedIn"  ng-click="adminCtrl.editCardModal(card)">Edit</md-button>

      </div>
    </md-list-item>
  </md-list>



</div>