

<div class="container ma-add-new-card-container">
<div class="alert alert-info" ng-hide="addNewCardModal.isLoggedIn">
  Please log in to create a card!
</div>
 
<!-- <md-dialog style="min-width:600px;"> -->
<!-- <div id="cardAddModal" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog">
    <div class="modal-content"> -->
      <!-- <div class="modal-header"> -->
      <form ng-show="addNewCardModal.isLoggedIn">
      <h4>Create a new card</h4>
       <div class="form-group">
        <label>Event: </label>  
           <select name="mySelect" id="mySelect"
                 ng-options="option.name for option in addNewCardModal.availableOptions track by option.id"
                 ng-model="addNewCardModal.selectedOption"></select>
        </div>
       <div class="form-group">
        <label>Content: </label>  <textarea ng-model="addNewCardModal.newCard.content" class="content-modal" ></textarea> 
        <!-- <label>Content: </label>  <textarea class="content-modal" ng-model="addNewCardModal.newCard.content"></textarea>  -->
        </div>

<!--          <div class="form-group">
        <label>Time: </label> <input type="number" ng-model="addNewCardModal.newCard.time">
        </div>
         <div class="form-group">
        <label>Public Card?</label> <input type="checkbox" ng-model="addNewCardModal.newCard.public">
        </div>
 -->

            <button  class="btn btn-sm" ng-click="addNewCardModal.close()">
              Close
            </button>
            <button  class="btn btn-sm" ng-click="addNewCardModal.addNewCard()" style="margin-right:20px;">
              Add
            </button>
         <!-- <button ng-click="addNewCardModal.addNewCard()" class="btn">Add</button> -->
      </form>

    <!-- </md-dialog> -->
  </div>
<!--     </div>
</div>
</div>
 -->

<!-- <div id="cardModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>{{cardOne.content}}</p>
        <p>{{cardOne.time}}</p>
        <p>{{cardOne.public}}</p>
      </div>
      
    </div>
  </div>
</div> -->