

<div class="container ma-add-new-card-container">

 
<form ng-show="showCardModal.isLoggedIn">
  <h4>Edit Card</h4>
      <div class="form-group">
          <label>Title: </label>  
          <input ng-model="showCardModal.card.title"  /> <br>
          <label>Description:</label>
          <input ng-model="showCardModal.card.description" /> <br>
          <label>Image url:</label>
          <input ng-model="showCardModal.card.image"/>  <br>

          <textarea class="content-modal" id="edit" ng-model="showCardModal.card.content"> </textarea> 

         <!-- <wysiwyg textarea-id="question" textarea-class="form-control content-modal"  textarea-height="230px" textarea-width="350px" textarea-name="textareaQuestion" textarea-required enable-bootstrap-title="true" textarea-menu="editCardModal.customMenu" ng-model="editCardModal.card.content"></wysiwyg> -->

      </div>
   

      <button  class="btn btn-sm" ng-click="showCardModal.close()">
        Close
      </button>
      <button  class="btn btn-sm" ng-click="showCardModal.save()" style="margin-right:20px;">
        Save
      </button>
</form>

</div>

