

<div class="container ma-add-new-card-container">

 
<form ng-show="editCardModal.isLoggedIn">
  <h4>Edit Card</h4>
      <div class="form-group">
         <label>Content: </label>  <textarea class="content-modal" ng-model="editCardModal.card.content"></textarea> 
      </div>
   <div class="form-group">
   <label>Order: </label> <input type="number" ng-model="editCardModal.card.order">
  </div>
   <div class="form-group">
  <label>Public Card?</label> <input type="checkbox" ng-model="editCardModal.card.public">
  </div>
      <button  class="btn btn-sm" ng-click="editCardModal.close()">
        Close
      </button>
      <button  class="btn btn-sm" ng-click="editCardModal.save()" style="margin-right:20px;">
        Save
      </button>
</form>

</div>

