

<div class="container ma-add-new-card-container">

 
<form ng-show="editCardModal.isLoggedIn">
  <h4>Edit Card</h4>
      <div class="form-group">
         <!-- <label>Content: </label>   -->
          <!-- <textarea class="content-modal" id="edit" ng-model="editCardModal.card.content"> </textarea>  -->

         <wysiwyg textarea-id="question" textarea-class="form-control content-modal"  textarea-height="230px" textarea-width="350px" textarea-name="textareaQuestion" textarea-required enable-bootstrap-title="true" textarea-menu="editCardModal.customMenu" ng-model="editCardModal.card.content"></wysiwyg>

      </div>
   

      <button  class="btn btn-sm" ng-click="editCardModal.close()">
        Close
      </button>
      <button  class="btn btn-sm" ng-click="editCardModal.save()" style="margin-right:20px;">
        Save
      </button>
</form>

</div>

