

<div class="container-fluid ma-add-new-card-container">
<div class="alert alert-info" ng-hide="addNewCardModal.isLoggedIn">
  Please log in to create a card!
</div>
 
<!-- <md-dialog style="min-width:600px;"> -->
<!-- <div id="cardAddModal" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog">
    <div class="modal-content"> -->
      <!-- <div class="modal-header"> -->
      <form ng-show="addNewCardModal.isLoggedIn">
      <h2>Create a new card</h2>
       <div class="form-group">
        <label>Card Name: </label>  <input type="text" ng-model="addNewCardModal.newCard.content" />
        </div>
         <div class="form-group">
        <!-- <label>Description: </label> <input type="text" ng-model="partiesAdd.newCard.description" /> -->
        <label>Time: </label> <input type="number" ng-model="addNewCardModal.newCard.time">
        </div>
         <div class="form-group">
        <label>Public Card?</label> <input type="checkbox" ng-model="addNewCardModal.newCard.public">
        </div>


            <button  class="btn btn-sm" ng-click="addNewCardModal.close()">
              Close
            </button>
            <button  class="btn btn-sm" ng-click="addNewCardModal.addNewCard()" style="margin-right:20px;">
              Add
            </button>
         <!-- <button ng-click="addNewCardModal.addNewCard()" class="btn">Add</button> -->
      </form>

    <!-- </md-dialog> -->
  </div>
<!--     </div>
</div>
</div>
 -->

<!-- <div id="cardModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>{{cardOne.content}}</p>
        <p>{{cardOne.time}}</p>
        <p>{{cardOne.public}}</p>
      </div>
      
    </div>
  </div>
</div> -->