<div id="header">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
  <div class="nav-container">
  <div class="navbar-header">
            <div class="navbar-header">
                <!-- <a class="navbar-brand" ui-sref="cards"><img src="//www.nxp.com/shared/images/NXP_logo.png" alt="NXP Semiconductor"></a> -->
            <a href="#nogo" data-toggle="collapse" data-target="#navbar-collapse-nxp" class="navbar-toggle"><span class="fa fa-bars"></span></a>
          </div>
  <!--  <div class="navbar-header">
            
        </div> -->
     <span class="logo-img">LOGO</span> 
     <div id="navbar-collapse-nxp" class="navbar-collapse collapse">
       
     <ul class="nav navbar-nav">        
      <!-- <li ><a ui-sref="admin">Admin</a></li> -->
    </ul>
    </div>
    <span class="nav-link"><a href="#search">SEARCH</a></span>
    <span class="nav-link"><a href="#myaccount">MY ACCOUNT</a></span>
  </div>
  </div>
</nav>
</div>